@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  border: 1px dashed red;
  min-height: 10px;
}

#body {
  background-color: #063005;
  opacity: 1;
  background-image: radial-gradient(#244819 0.75px, transparent 0.75px),
    radial-gradient(#244819 0.75px, #063005 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.container {
  background-color: white;
  border-radius: 25px;
  width: 25%;
  height: 540px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 3%;
  display: center;
}

.figurasuperior {
  justify-content: left;
  height: 85px;
  width: 70px;
  margin-top: 25px;
  font-size: 50px;
}

.figuracentral {
  margin: auto;
  margin-top: 15%;
  height: 210px;
  width: 120px;
  font-size: 140px;
  font-family: "Cinzel", serif;
  text-align: center;
  color: black;
}

.figurainferior {
  height: 85px;
  width: 70px;
  margin-top: 63px;
  margin-left: 77%;
  font-size: 50px;
  transform: rotate(180deg);
}
